html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  color: #242424;
  text-align: center;
}

main {
  max-width: 1100px;
  margin: 0 20px 50px 20px;
}

h1 {
  font-size: 70px;
  font-family: "Italiana", serif;
  font-weight: normal;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 4px #0f0f0f;
}

h2 {
  font-size: 40px;
  color: #a72d70;
  font-family: "Italianno", cursive;
  font-weight: normal;
  margin-top: 0;
}

h3 {
  margin: 0;
}

.h2-floral {
  font-size: 32px;
  color: white;
  margin-bottom: 0;
  text-shadow: 1px 1px 4px #0f0f0f;
}

.h2-floral:before,
.h2-floral:after {
  content: "";
  height: 1px;
  display: block;
  width: 30px;
  background-color: white;
  margin: 10px auto;
  box-shadow: 1px 1px 4px #0f0f0f;
}

.h2-original {
  margin: 40px 0;
}

.h2-order, .h2-aboutme, .h2-work, .h2-services, .h2-reference {
  margin: 40px 0 20px 0;
}

.h2-thanks {
  margin: 80px 0 20px 0;
}

.h2-thanks2 {
  margin-bottom: 80px;
}

footer {
  text-align: center;
  margin: 40px 0 20px 0;
  color: #9e9c9c;
}

@media screen and (min-width: 640px) {
  .h2-floral:before,
.h2-floral:after {
    display: inline-block;
    margin: 10px 25px;
  }

  .h2-floral {
    font-size: 42px;
  }

  h2 {
    font-size: 50px;
  }
}
@media screen and (min-width: 640px) and (min-width: 1000px) {
  main {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 60px;
  }

  .h2-reference {
    margin-bottom: 0;
  }
}
header {
  background-image: linear-gradient(rgba(100, 100, 100, 0.4), rgba(100, 100, 100, 0.4)), url(../images/prilezitostni.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding-left: 0;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu li:hover {
  background-color: #f1e7ec;
}

.menu li {
  display: block;
  padding: 4px 0;
  font-size: 18px;
  text-shadow: 1px 1px 1px #eae8e8;
  border-bottom: 1px solid #f5f4f4;
}

.thanks a {
  display: none;
}

.logo {
  width: 100%;
  max-width: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 640px) {
  .logo {
    margin-left: 0;
    margin-right: 0;
  }

  .navigation {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 6px 0;
    align-items: center;
    margin-left: 15px;
  }

  .menu li {
    padding: 0 10px;
    font-size: 17px;
  }

  .menu li {
    display: inline-block;
    padding: 0 15px;
    font-size: 18px;
    text-shadow: 1px 1px 1px #eae8e8;
    border-bottom: none;
  }

  .menu li:hover {
    background-color: transparent;
  }

  .menu a:hover {
    border-bottom: 1px solid #a72d70;
  }
}
@media screen and (min-width: 1000px) {
  .menu li {
    font-size: 20px;
  }
}
.top-refs img, .bottom-refs img {
  width: 100%;
  max-width: 280px;
  padding: 10px;
  box-shadow: #d9d9d6 0 0 3px 1px;
}

.first-photo, .fifth-photo, .sixth-photo, .seventh-photo {
  display: none;
}

.top-pics {
  margin-top: 20px;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(3, 33%);
  justify-items: center;
}

.second-photo, .third-photo, .fourth-photo {
  justify-self: start;
}

@media screen and (min-width: 1000px) {
  .top-texts {
    justify-self: center;
    align-self: center;
  }

  .bottom-texts {
    justify-self: center;
    align-self: center;
  }

  .first-ref, .second-ref, .third-ref, .fourth-ref, .fifth-ref {
    width: 450px;
    margin-bottom: 20px;
  }

  .top-refs p, .bottom-refs p {
    margin: 6px 0;
  }

  .top-refs img, .bottom-refs img {
    max-width: 240px;
  }

  .first-photo, .fifth-photo, .sixth-photo, .seventh-photo {
    display: block;
  }

  .top-refs, .bottom-refs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom-refs {
    margin-top: 40px;
  }

  .top-pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 6px;
    margin-top: -20px;
  }

  .bottom-pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 6px;
  }

  .first-photo {
    grid-column: 1;
    grid-row: 1/4;
    align-self: center;
    justify-self: end;
    padding-bottom: 40px;
  }

  .second-photo {
    grid-column: 2;
    grid-row: 1;
  }

  .third-photo {
    grid-column: 2;
    grid-row: 2;
  }

  .fourth-photo {
    grid-column: 2;
    grid-row: 3;
  }

  .fifth-photo {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
  }

  .sixth-photo {
    grid-column: 1;
    grid-row: 2;
  }

  .seventh-photo {
    grid-column: 2;
    grid-row: 1/3;
  }

  .fifth-photo, .sixth-photo {
    justify-self: end;
  }
}
.all-services img {
  width: 100%;
  max-width: 450px;
  box-shadow: #d9d9d6 0 0 3px 1px;
  padding: 10px;
}

.occasionall p, .wedd p, .funeral p, .company p {
  margin: 0;
}

.wedd, .company, .occasionall, .funeral {
  margin-bottom: 40px;
}

@media screen and (min-width: 640px) {
  .all-services img {
    width: 100%;
    max-width: 350px;
  }

  .all-services {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 6px;
  }
}
@media screen and (min-width: 1000px) {
  .all-services img {
    max-width: 450px;
  }

  .wedd, .company, .occasionall, .funeral {
    margin-bottom: 80px;
  }
}
.aboutme img {
  width: 100%;
  box-shadow: #d9d9d6 0 0 3px 1px;
  padding: 10px;
}

.aboutme-matej {
  max-width: 450px;
}

.aboutme p {
  margin-bottom: 30px;
}

.aboutme-first, .aboutme-third {
  display: none;
}

@media screen and (min-width: 640px) {
  .aboutme-first, .aboutme-third {
    display: block;
  }

  .aboutme-photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
  }

  .aboutme img {
    align-self: end;
  }
}
.work-photo img {
  width: 100%;
}

.work-photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: 4px;
}

.five {
  grid-row: 2/4;
}

.six {
  grid-column: 3/span 2;
  grid-row: 4/6;
}

.ten {
  grid-column: 2/span 2;
  grid-row: 2;
}

.sixteen {
  grid-column: 2;
  grid-row: 5/7;
}

.adress h2, .contact h2, .social h2, .open-hours h2, .contact-contactform h2 {
  margin-bottom: 0;
}

.social h2, .open-hours h2 {
  margin-top: 15px;
}

.contact-hours-map-wrap, .contact-social-wrap, .contact-contactform {
  box-shadow: #d9d9d6 0 0 3px 1px;
  padding: 10px;
  margin: 40px auto;
  width: 100%;
  max-width: 800px;
}

.social img {
  width: 80px;
  margin: 0 10px;
}

iframe {
  width: 100%;
  max-width: 480px;
  margin-top: 15px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form-field > label, .form-field-area textarea {
  display: block;
}

.form-field {
  width: 100%;
}

.form-field input {
  padding: 10px;
  width: 100%;
  border: 1px solid #a5a4a4;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.form-field-area {
  grid-column: 1/3;
}

.form-field-area textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #a5a4a4;
}

.form-field input:focus, .form-field-area textarea:focus {
  border: 1px solid #383838;
  outline: 0;
}

.required {
  color: #a72d70;
}

@media screen and (min-width: 640px) {
  iframe {
    max-width: 750px;
  }
}
@media screen and (min-width: 1000px) {
  .contact-hours-map-wrap, .contact-social-wrap, .contact-contactform {
    display: grid;
  }

  .contact-hours-map-wrap {
    grid-template-columns: 1fr 1fr;
  }

  .contact-social-wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-hours-map-wrap h2, .contact-social-wrap h2, .contact-contactform h2 {
    font-size: 50px;
  }

  .adress {
    align-self: center;
  }

  .social h2, .open-hours h2 {
    margin-top: 0;
  }
}
.submit, .want-flowers {
  padding: 12px 6px;
  margin-bottom: 40px;
  width: 40%;
  max-width: 300px;
  background-color: #f1e7ec;
  border: 1px solid #f1e7ec;
  box-shadow: #b6849f 2px 2px 3px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  text-shadow: 1px 1px 1px #eae8e8;
}

.submit {
  grid-column: 1/3;
  justify-self: center;
}

.submit:hover, .want-flowers:hover {
  background-color: #ceb6c3;
}

@media screen and (min-width: 640px) {
  .submit, .want-flowers {
    font-size: 20px;
  }
}
.mainpage-services img {
  width: 90%;
  box-shadow: #d9d9d6 0 0 3px 1px;
  padding: 10px;
}

.mainpage-values img {
  width: 30%;
}

.mainpage-services {
  margin-bottom: 30px;
}

.first-service, .second-service, .third-service {
  margin-bottom: 40px;
}

@media screen and (min-width: 640px) {
  .mainpage-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .third-service {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  .mainpage-services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
  }

  .mainpage-values {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .attitude, .originality, .profesionality {
    max-width: 270px;
    width: 100%;
  }

  .mainpage-values img {
    width: 100%;
  }

  .mainpage-services img {
    width: 100%;
  }

  .first-service, .second-service {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */