@use 'webstyle';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
margin: 0;
font-size: 16px;
line-height: 1.5;
font-family: webstyle.$body-font;
color: #242424;
text-align: center;
}

main{
max-width: 1100px;
margin-left: 20px;
margin-right: 20px;
}

// -----------------------------------------------------------------------------

h1{
font-size: 70px;
font-family: webstyle.$h1-font;
font-weight: normal;
margin-bottom: 0;
margin-top: 0;
color: white;
text-shadow: 1px 1px 4px rgb(15 15 15);
}

h2{
font-size: 40px;
color: webstyle.$break-color;
font-family: webstyle.$h2-font;
font-weight: normal;
margin-top: 0;
}

h3{
margin-top: 0;
margin-bottom: 16px;
}

.h2-floral{
font-size: 32px;
color: white;
margin-bottom: 0;
text-shadow: 1px 1px 4px rgb(15 15 15);
}

.h2-floral:before,
.h2-floral:after {
content: "";
height: 1px;
display: block;
width: 30px;
background-color: white;
margin: 10px auto;
box-shadow: 1px 1px 4px rgb(15 15 15);
}


.h2-original{
margin: 40px 0;
}

.h2-order, .h2-aboutme, .h2-work, .h2-services, .h2-reference {
margin: 40px 0 20px 0;
}

.h2-thanks{
margin: 80px 0 20px 0;
}

.h2-thanks2{
margin-bottom: 80px;
}

footer{
text-align: center;
margin: 40px 0 20px 0;
color: rgb(158, 156, 156);
}


@media screen and (min-width:640px){



.h2-floral:before,
.h2-floral:after {
display: inline-block;
margin: 10px 25px;
}

@media screen and (min-width:1000px){

main{
max-width: 1100px;
margin-left: auto;
margin-right: auto;
}

h1{
font-size: 90px;
}

h2{
font-size: 50px;
}

.h2-floral{
font-size: 42px;
}


}
















}