@use 'webstyle';


.submit, .want-flowers{
padding: 12px 6px;
margin-bottom: 40px;
width: 40%;
max-width: 300px;
background-color: webstyle.$button-color;
border: 1px solid webstyle.$button-color;
box-shadow: webstyle.$button-shadow;
font-size: 18px;
font-family: webstyle.$body-font;
text-shadow: 1px 1px 1px #eae8e8;
}

.submit{
grid-column: 1/3;
justify-self: center;
}

.submit:hover, .want-flowers:hover{
background-color:rgb(206, 182, 195);
}

@media screen and (min-width: 640px){

.submit, .want-flowers{
font-size: 20px;
}
}