@use 'webstyle';


.submit, .want-flowers{
padding: 12px 40px;
margin-bottom: 20px;
background-color: webstyle.$button-color;
border: 1px solid webstyle.$button-color;
box-shadow: webstyle.$button-shadow;
font-size: 20px;
font-family: webstyle.$body-font;
text-shadow: 1px 1px 1px #eae8e8;
}

.want-flowers{
padding: 12px 80px;
}


.submit{
grid-column: 1/3;
justify-self: center;
}

.submit:hover, .want-flowers:hover{
background-color:rgb(206, 182, 195);
}

