@use 'webstyle';

.adress h2, .contact h2, .social h2, .open-hours h2, .contact-contactform h2{
margin-bottom: 0;
}

.social h2, .open-hours h2{
margin-top: 15px;
}

.contact-hours-map-wrap, .contact-social-wrap, .contact-contactform {
box-shadow: webstyle.$pic-shadow;
padding:webstyle.$frame-padding;
margin: 40px auto;
width: 100%; 
max-width: 800px;
}

.contact-contactform{
margin-bottom: 50px;
}

.contact-hours-map-wrap h2, .contact-social-wrap h2, .contact-contactform h2{
font-size: 40px;
}

.social img{
width: 80px;
margin: 0 10px;
}

iframe {
width: 100%;
max-width: 480px;
margin-top: 15px;
}
// kontaktní formulář

.contact-form{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
gap: 20px;
width: 70%;
margin-left: auto;
margin-right: auto;
}


.form-field > label, .form-field-area textarea {
display: block;
}

.form-field input{
padding: 10px;
width: 100%;
border: 1px solid #a5a4a4;
font-family: webstyle.$body-font;
font-size: 16px;
}

.form-field-area {
grid-column: 1/3;
}

.form-field-area textarea{
width: 100%;
height: 200px;
border: 1px solid #a5a4a4;
}

.form-field{
width: 100%;
}

.form-field input:focus, .form-field-area textarea:focus {
border: 1px solid #383838;
outline: 0;
}

.required{
color: webstyle.$break-color;
}

@media screen and (min-width:640px){

iframe{
max-width: 750px;
}
}
@media screen and (min-width:1000px){

.contact-hours-map-wrap, .contact-social-wrap, .contact-contactform {
display: grid;
}

.contact-hours-map-wrap {
grid-template-columns: 1fr 1fr;
}

.contact-social-wrap{
grid-template-columns: 1fr 1fr 1fr;
}

.contact-hours-map-wrap h2, .contact-social-wrap h2, .contact-contactform h2{
font-size: 50px;
}

.adress {
align-self: center;
}

.social h2, .open-hours h2{
 margin-top: 0;
}

}