@use 'webstyle';

.adress h2, .contact h2, .social h2, .open-hours h2{
margin-bottom: 0;
margin-top: 15px;
}

.contact-contactform h2{
padding-top: 15px;
}

.contact-hours-map-wrap, .contact-social-wrap {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
box-shadow: rgb(236, 235, 235, 0.89) 0px 0px 4px 1px;
margin: 40px 0;
}

.contact-contactform{
box-shadow: rgb(236, 235, 235) 0px 0px 8px 2px;
margin-bottom: 50px;
}

.contact-hours-map-wrap h2, .contact-social-wrap h2, .contact-contactform h2{
font-size: 42px;
}

.contact-flower{
width: 370px;
height: 230px;
}

.social img{
width: 80px;
margin: 0 10px;
}

// kontaktní formulář

.contact-form{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
gap: 20px;
width: 70%;
margin-left: auto;
margin-right: auto;
}


.form-field > label, .form-field-area textarea {
display: block;
}

.form-field input{
padding: 10px;
width: 100%;
border: 1px solid #a5a4a4;
font-family: webstyle.$body-font;
font-size: 16px;
}

.form-field-area {
grid-column: 1/3;
}

.form-field-area textarea{
width: 100%;
height: 200px;
border: 1px solid #a5a4a4;
}

.form-field{
width: 100%;
}

.form-field input:focus, .form-field-area textarea:focus {
border: 1px solid #383838;
outline: 0;
}

.required{
color: rgb(231, 2, 2);
}