@use 'webstyle';

header{
background-image: linear-gradient(rgba(100, 100, 100, 0.4), rgba(100, 100, 100, 0.4)),
url(../images/prilezitostni.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 70px;  //nevím jestli není blbost, dělat to paddingem, ale height stávkuje
width: 100%;
height: 100%;
}


// menu

.navigation{
display: grid;
grid-template-columns: 1fr auto;
margin: 6px 0;
align-items: center;
margin-left: 15px;
}

.menu {
list-style: none;
text-transform: uppercase;
margin-bottom: 0;
margin-top: 0;
}

.menu a{
text-decoration: none;
color: black;
}

.menu li{
display: inline-block;
padding: 0 15px;
font-size: 20px;
text-shadow: 1px 1px 1px #eae8e8;
}

.thanks a{
display: none;
}

.menu a:active{
border-bottom: 1px solid webstyle.$break-color;
}

.menu a:hover {
border-bottom: 1px solid webstyle.$break-color;
}
    

.logo{
width: 100%;
max-width: 60px;
}



// TABLET 
@media screen and (min-width: 640px){  

}


// PC 
@media screen and (min-width: 1000px){  

.navigation{
display: grid;
grid-template-columns: 1fr auto;
margin: 6px 0;
align-items: center;
margin-left: 15px;
}

.menu {
list-style: none;
text-transform: uppercase;
margin-bottom: 0;
margin-top: 0;
}

.menu a{
text-decoration: none;
color: black;
}

.menu li{
display: inline-block;
padding: 0 15px;
font-size: 20px;
text-shadow: 1px 1px 1px #eae8e8;
}

.menu a:active{
border-bottom: 1px solid webstyle.$break-color;
}

.menu a:hover {
border-bottom: 1px solid webstyle.$break-color;
}
    

.logo{
width: 100%;
max-width: 60px;
}

/*
.thanks a{
display: none;
}
*/


}  // KONEC MEDIA QUERY PC