@use 'webstyle';

header{
background-image: linear-gradient(rgba(100, 100, 100, 0.4), rgba(100, 100, 100, 0.4)),
url(../images/prilezitostni.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: 300px;
display: flex;
flex-direction: column;
justify-content: center;
}


// menu

.menu {
list-style: none;
text-transform: uppercase;
margin: 0;
padding-left: 0;
}

.menu a{
text-decoration: none;
color: black;
}

.menu li:hover{
background-color: rgb(241,231,236);
}

.menu li{
display: block;
padding: 4px 0;
font-size: 18px;
text-shadow: 1px 1px 1px #eae8e8;
border-bottom: 1px solid rgb(245, 244, 244);
}

.thanks a{
display: none;
}
  

.logo{
width: 100%;
max-width: 60px;
margin-left: auto;
margin-right: auto;
}


@media screen and (min-width: 640px){  

.logo{
margin-left: 0;
margin-right: 0;
}

.navigation{
display: grid;
grid-template-columns: 1fr auto;
margin: 6px 0;
align-items: center;
margin-left: 15px;
}

.menu li{
padding: 0 10px;
font-size: 17px;
}

.menu li{
display: inline-block;
padding: 0 15px;
font-size: 18px;
text-shadow: 1px 1px 1px #eae8e8;
border-bottom: none;
}

.menu li:hover{
background-color: transparent;
}

.menu a:hover {
border-bottom: 1px solid webstyle.$break-color;
margin-top: 5px;

}


}


@media screen and (min-width: 1000px){  

.menu li{
font-size: 20px;
}

} 