@use 'webstyle';

.mainpage-services img{
width: 90%;
box-shadow: webstyle.$pic-shadow;
padding: 15px;
}

.mainpage-values img{
width: 30%;
}

.mainpage-services{
margin-bottom: 40px;
}


@media screen and (min-width:640px){

.mainpage-services{
display: grid;
grid-template-columns: repeat(2, 1fr);
margin-bottom: 40px;
}   

.mainpage-services img{
width: 90%;
}
}

@media screen and (min-width:1000px){

.mainpage-services{
display: grid;
grid-template-columns: repeat(4, 1fr);
margin-bottom: 60px;
gap: 6px;
}

.mainpage-values{
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-items: center;
}

.attitude, .originality, .profesionality{
max-width: 270px;
width: 100%;
}

.mainpage-values img{
width: 100%;
}

.mainpage-services img{
width: 100%;
}

}