@use 'webstyle';

.mainpage-services img{
width: 100%;
box-shadow: webstyle.$shadow;
}

.mainpage-values img{
width: 30%;
}

.mainpage-services{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
margin-bottom: 40px;
}

.main{
margin-left: 20px;
margin-right: 20px;
}



@media screen and (min-width:640px){}





@media screen and (min-width:1000px){

.mainpage-services{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
margin-bottom: 60px;
}

.mainpage-values{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
justify-items: center;
}


.attitude, .originality, .profesionality{
max-width: 240px;
width: 100%;
}


.mainpage-values img{
width: 100%;
}

}