$break-color: rgb(167, 45, 112);
$h1-font: 'Italiana', serif;
$h2-font: 'Italianno', cursive;
$body-font:'Quicksand', sans-serif;
$button-color: rgb(241,231,236);
$button-shadow: rgb(182, 132, 159) 2px 2px 3px;
$pic-shadow: rgb(217,217,214) 0 0 3px 1px;
$frame-padding: 10px;
