html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

$break-color: black;
$h1-font: 'Italiana', serif;
$h2-font: 'Italianno', cursive;
$body-font:'Quicksand', sans-serif;
$shadow: rgb(199, 197, 197) 2px 2px 3px;

body {
margin: 0;
font-size: 16px;
line-height: 1.5;
font-family: $body-font;
color: #242424;
text-align: center;
}

main{
max-width: 1000px;
margin-left: auto;
margin-right: auto;
}
  

// úvodní stránka - záhlaví

header{
background-image: linear-gradient(rgba(100, 100, 100, 0.4), rgba(100, 100, 100, 0.4)),
url(../images/prilezitostni.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 70px;  //nevím jestli není blbost, dělat to paddingem, ale height stávkuje
width: 100%;
height: 100%;
}

// menu

.navigation{
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 10px 0;
  align-items: center;
  margin-left: 15px;
  }
  
  .menu {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  }
  
  .menu a{
      text-decoration: none;
  color: black;}
  
  .menu li{
  display: inline-block;
  padding: 0 15px;
  font-size: 18px;
 
  }

.logo{
width: 100%;
max-width: 50px;
}



h1{
font-size: 90px;
font-family: $h1-font;
font-weight: normal;
margin-bottom: 0;
margin-top: 0;
color: white;
text-shadow: 1px 1px 4px rgb(15 15 15);
}

h2{
font-size: 36px;  // asi budu muset smazat font size, každé h2 bude mít jiné
color: $break-color;
font-family: $h2-font;
font-weight: normal;
margin-top: 0;
}

.h2-floral:before,
.h2-floral:after {
content: "";
height: 1px;
display: inline-block;
width: 40px;
background-color: white;
margin: 10px 25px;
box-shadow: 1px 1px 4px rgb(15 15 15);
}

.h2-original{
margin: 40px 0;
}

.h2-order, .h2-aboutme, .h2-work{
margin: 40px 0 20px 0;
}

.h2-aboutme, .h2-reference, .h2-order, .h2-original, .h2-work{
font-size: 50px;
}


.h2-floral{
font-size: 42px;
color: white;
margin-bottom: 0;
text-shadow: 1px 1px 4px rgb(15 15 15);
}



// služby a hodnoty

.mainpage-services img, .mainpage-values img{
width: 100%;
max-width: 240px;
box-shadow: $shadow;
}

.mainpage-services{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
margin-bottom: 60px;
}

.mainpage-values{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
justify-items: center;
}


.attitude, .originality, .profesionality{
max-width: 240px;
width: 100%;
}

.mainpage-values h3, .mainpage-services h3{
margin-top: 0;
}

// tlačítka

.want-flowers, .submit{
padding: 12px 40px;
margin: 20px 0;
background-color: rgb(238, 237, 237);
border: 1px solid rgb(226, 225, 225);
box-shadow: $shadow;
font-size: 18px;
font-family: $body-font;
}

// reference

.h2-reference{
margin: 20px 0;
}

.first-ref, .second-ref, .third-ref, .fourth-ref, .fifth-ref{
width: 450px;
margin-bottom: 0px;
}

.top-refs, .bottom-refs p{
margin: 6px 0;
}

.top-refs img, .bottom-refs img{
width: 250px;
}

.top-refs{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, auto);
gap: 6px;
}

.bottom-refs{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, auto);
gap: 6px;
margin-top: 70px;
}


.first-ref, .second-ref, .third-ref{
grid-column: 1;
}

.first-ref{
grid-row: 1;
align-self:end;
}

.second-ref{
grid-row: 2;
align-self:center;
}

.third-ref{
grid-row: 3;
}
  

.first-photo{
grid-column: 2;
grid-row: 1 / 4;
align-self: center;
justify-self: end;
}

.second-photo{
grid-column: 3;
grid-row: 1;
}

.third-photo{
grid-column: 3;
grid-row: 2;
}

.fourth-photo{
grid-column: 3;
grid-row: 3;
}

.fourth-ref{
grid-column: 3;
grid-row: 1;
align-self: end;
}

.fifth-ref{
grid-column: 3;
grid-row: 2;
} 


.fifth-photo{
grid-column: 1;
grid-row: 1;
align-self: end;
}
.sixth-photo{
grid-column: 1;
grid-row: 2;
}

.seventh-photo{
grid-column: 2;
grid-row: 1/3;
}

.fifth-photo, .sixth-photo{
justify-self: end;
}



// Stránka o mě 

.aboutme img {
width: 100%;
max-width: 300px;
box-shadow: $shadow;
}

.aboutme p{
margin-bottom: 30px;
}

.aboutme{
margin-bottom: 30px;
}




// Galerie
.work-photo img{
width: 100%;
}

.work-photo {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(7, auto);
gap: 6px;
}

.five{
grid-row: 2/4;
}

.six{
grid-column: 3 / span 2;
grid-row: 4 / 6;
}

.ten{
grid-column: 2/ span 2;
grid-row: 2;
}

.sixteen{
grid-column: 2;
grid-row: 5 / 7;
}





// Kontakt

.adress h2, .contact h2, .social h2, .open-hours h2{
  margin-bottom: 0;
  margin-top: 15px;
}

.contact-contactform h2{
  padding-top: 15px;
}

.contact-hours-map-wrap, .contact-social-wrap {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
box-shadow: rgb(236, 235, 235, 0.89) 0px 0px 4px 1px;
margin-bottom: 50px;
}

.contact-contactform{
box-shadow: rgb(236, 235, 235) 0px 0px 8px 2px;
margin-bottom: 50px;
}

.contact-hours-map-wrap h2, .contact-social-wrap h2, .contact-contactform h2{
font-size: 42px;
}


.contact-flower{
width: 370px;
height: 230px;
}

form{
display: grid;
grid-template-columns: repeat(2, 300px);
grid-template-rows: repeat(3, auto);
justify-content: center;
gap: 20px;
}

.form-field > label{
display: block;
}

.form-field input, .form-field textarea{
padding: 10px;
width: 300px;
border: 1px solid rgb(165, 164, 164);
}

.form-field textarea{
  width: 620px;
}

// footer

footer{
text-align: center;
margin: 40px 0 20px 0;
color: rgb(158, 156, 156);
}