<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<!--logo a Menu -->  
<div class="navigation">
    <img class="logo" src="/images/logo.png" alt="Logo MD Creativ">
    
    
    <ul class="menu">
    <li><a href="/">Úvod</a></li>
    <li><a href="/o-mne/">O mně</a></li>
    <li><a href="/sluzby/">Služby</a></li>
    <li><a href="/galerie/">Moje tvorba</a></li>
    <li><a href="/kontakt/">Kontakt</a></li>
    </ul>
    </div>   <!-- konec divu navigation-->

<header>


<h1>MD CREATIV</h1>

<h2 class="h2-floral">Floristické práce Matěj Doležal</h2>
</header>


<main>

{{ content | safe }}

</main> 

<footer>
Copyright
</footer>


</body>
</html>

