<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:title" content="MD Creativ - floristické práce Matěj Doležal">
	<meta property="og:description" content="Originální květiny pro každou příležitost">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://md-creativ.netlify.app/images/ref4.jpg">
	<meta property="og:url" content="https://md-creativ.netlify.app/">
	
	<meta property="og:locale" content="cs_CZ">


    <title>{{ title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>


<div class="navigation">

<div class="logo">
<a href="/"><img class="logo" src="/images/logo.png" alt="Logo MD Creativ"></a>
</div>  

    <ul class="menu">
    <li class="thanks"> <a href="/thanks/">Thanks</a></li>
    <a href="/"><li>Úvod</li></a>
    <a href="/o-mne/"><li>O mně</li></a>
    <a href="/sluzby/"><li>Služby</li></a>
    <a href="/galerie/"><li>Moje tvorba</li></a>
    <a href="/kontakt/"><li>Kontakt</a></li>
    </ul>


</div>  

<header>


<h1>MD CREATIV</h1>

<h2 class="h2-floral">Floristické práce Matěj Doležal</h2>
</header>


<main>

{{ content | safe }}

</main> 

<footer>
Vytvořila Petra Ročková
</footer>


<script src="/js/fslightbox.js"></script>
</body>
</html>

